<%= form_with(model: schedule, url: client_schedule_path, local: true) do |form| %>
  <div class="form-container">
    <ul>
      <li><%= form.label :day, "Día" %></li>
      <li><%= form.date_select :day, id: :schedule_day %></li>
    </ul>
    <ul>
      <li><%= form.label :hour, "Horario" %></li>
      <li><%= form.time_select :hour, id: :schedule_hour %></li>
    </ul>
    <ul>
      <li><%= form.label :place, "Lugar" %></li>
      <li><%= form.text_field :place, id: :schedule_place %></li>
    </ul>
    <ul>
      <li class="li-submit"><%= form.submit "Agregar" %></li>
    </ul>
  </div>
<% end %>