<div class="instruction-box">
  <div class="ib-title" onclick="toggleShow()">
    <p>Instrucciones de ayuda</p>
  </div>
  <div id="inst_show-more" class="ib-text">
    <p>Indicaciones para navegar en la página:
      <br>1.- Para añadir horarios de cobro al cliente se selecciona el boton "Nuevo Horario"
      <br>2.- El botón "Editar" permite modificar la información referente al cliente
      <br>3.- El botón "Horarios" muestra la lista de horarios de cobro añadidos al cliente con sus datos respectivos
      <br>4.- El botón "Atrás" regresa a la sección Clientes
    </p>
  </div>
</div>
<div class="global-container">
  <div class="show-container">
    <ul>
      <li><strong>Nombre </strong></li>
      <li><%= @client.name %></li>
    </ul>

    <ul>
      <li><strong>Dirección</strong></li>
      <li><%= @client.address %></li>
    </ul>

    <ul>
      <li><strong>Número exterior</strong></li>
      <li><%= @client.external_address_num %></li>
    </ul>

    <ul>
      <li><strong>Número interior</strong></li>
      <li><%= @client.internal_address_num %></li>
    </ul>

    <ul>
      <li><strong>Código Postal</strong></li>
      <li><%= @client.zipcode %></li>
    </ul>

    <ul>
      <li><strong>Colonia</strong></li>
      <li><%= @client.colony %></li>
    </ul>

    <ul>
      <li><strong>Ciudad</strong></li>
      <li><%= @client.city %></li>
    </ul>

    <ul>
      <li><strong>Estado</strong></li>
      <li><%= @client.state %></li>
    </ul>

    <ul>
      <li><strong>Número de teléfono</strong></li>
      <li><%= @client.phone_number %></li>
    </ul>
    
  </div>
  <div class="show-links get-down">
    <li><%= link_to 'Nuevo Horario', new_client_schedule_path(@client) %></li>
    <li><%= link_to 'Horarios', client_schedules_path(@client)%></li>
    <li><%= link_to 'Editar', edit_client_path(@client) %></li>
    <li><%= link_to 'Atrás', clients_path %></li>
  </div>
</div>
