
<div class="instruction-box">
  <div class="ib-title" onclick="toggleShow()">
    <p>Instrucciones de ayuda</p>
  </div>
  <div id="inst_show-more" class="ib-text">
      <p>Indicaciones para navegar dentro de la sección Cuentas:
        <br>1.- Para añadir una cuenta se selecciona el boton "Nueva Cuenta"
        <br>2.- Para editar la información de una cuenta existente se selecciona el botón "Editar" que se encuentra a la derecha de la cuenta respectiva
        <br>3.- Cada cuenta tiene un botón llamado "Mostrar" el cual redirecciona a una página en la que es posible gestionar los abonos referentes a esa cuenta
        </p>
      </div>
    </div>
<div class="global-container">
  <div class="title">
    <h2>Cuentas</h2>
    <%= link_to 'Nueva Cuenta', new_bill_path %>
  </div>
  <div class="search-container">
    <%= form_tag(bills_path, method: :get) do %>
      <ul>
        <li><%= text_field_tag :client_name, params[:client_name], placeholder: "Nombre del Cliente" %></li>
        <li><%= text_field_tag :perfume_name, params[:perfume_name], placeholder: "Nombre del Perfume", step: 0.5 %></li>
        <li><%= select_tag :status, options_for_select(Bill.statuses), include_blank: true %></li>
        <li><%= submit_tag "Buscar"%></li>
      </ul>
    <%end%>
  </div>
  <div class="cuentas-container">
    <div class="table-ul-1 table-ul-ME">
      <ul>
        <li>Fecha</li>
        <li>Nombre del Cliente</li>
        <li>Perfume</li>
        <li>Clasificación</li>
        <li>Cantidad</li>
        <li>Total</li>
        <li>Estado</li>
        <li> </li>
        <li> </li>
        <!-- <li colspan="3"></li> -->
      </ul>
    </div>
    <div class="table-ul-2">
      <% @bills.each do |bill| %>
        <ul>
          <li><%= bill.bill_date %></li>
          <li><%= bill.client.name %></li>
          <li><%= bill.perfume.name %></li>
          <li><%= bill.perfume.classification %></li>
          <li><%= bill.amount %></li>
          <li><%= bill.total %></li>
          <li><%= bill.status %></li>
          <li class="ntb1"><%= link_to 'Mostrar', bill %></li>
          <li class="ntb2"><%= link_to 'Editar', edit_bill_path(bill) %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
