<div class="instruction-box">
  <div class="ib-title" onclick="toggleShow()">
    <p>Instrucciones de ayuda</p>
  </div>
  <div id="inst_show-more" class="ib-text">
    <p>Indicaciones para navegar en la página:
      <br>1.- Para añadir abonos a la cuenta se selecciona el boton "Nuevo Abono"
      <br>2.- El botón "Editar" permite modificar la información referente a la cuenta
      <br>3.- El botón "Abonos" muestra la lista de abonos añadidos a la cuenta indicando el monto y la fecha respectiva
      <br>4.- El botón "Atrás" regresa a la sección Cuentas
    </p>
  </div>
</div>
<div class="global-container">
  <div class="show-container">
    <ul>
      <li><strong>Fecha</strong></li>
      <li><%= @bill.bill_date %></li>
    </ul>

    <ul>
      <li><strong>Nombre del Cliente</strong></li>
      <li><%= @bill.client.name %></li>
    </ul>

    <ul>
      <li><strong>Perfume</strong></li>
      <li><%= @bill.perfume.name %></li>
    </ul>

    <ul>
      <li><strong>Clasificación</strong></li>
      <li><%= @bill.perfume.classification %></li>
    </ul>

    <ul>
      <li><strong>Cantidad</strong></li>
      <li><%= @bill.amount %></li>
    </ul>

    <ul>
      <li><strong>Total</strong></li>
      <li><%= @bill.total %></li>
    </ul>

    <ul>
      <li><strong>Resto</strong></li>
      <% @payments.each do |pay| %>
        <% @resto = @resto - pay.amount %>
      <%end%>
      <li><%= @resto %></li>
    </ul>

  </div>
  <div class="show-links get-down">
    <% if @bill.status == "Pendiente" %>
      <li><%= link_to 'Nuevo abono', new_bill_payment_path(@bill) %></li>
    <% end %>
    <li><%= link_to 'Abonos', bill_payments_path(@bill)%></li>
    <li><%= link_to 'Editar', edit_bill_path(@bill) %></li>
    <li><%= link_to 'Atrás', bills_path %></li>
  </div>
</div>
