<p id="notice"><%= notice %></p>
<div class="instruction-box">
  <div class="ib-title" onclick="toggleShow()">
    <p>Instrucciones de ayuda</p>
  </div>
  <div id="inst_show-more" class="ib-text">
      <p>Indicaciones para navegar dentro de la sección Pedidos:
        <br>1.- Para añadir pedidos se selecciona el boton "Nuevo Pedido"
        <br>2.- Para editar un pedido existente se selecciona el botón "Editar" que se encuentra a la derecha del pedido respectivo
        <br>3.- Cada pedido tiene un botón llamado "Mostrar" el cual redirecciona a una página en la que es posible gestionar los articulos referentes a ese pedido
        </p>
      </div>
    </div>
<div class="global-container">
  <div class="title">
    <h2>Pedidos a Clientes</h2>
    <%= link_to 'Nuevo Pedido', new_order_datum_path, class: "pac-a" %>
  </div>
  <div class="pedidos-d-container">
    <div class="table-ul-1">
      <ul>
        <!-- Order date -->
        <li>Fecha pedido</li>
        <li>Nombre cliente</li>
        <li> </li>
        <li> </li>
        <li> </li>
        <!-- <li colspan="3"></li> -->
      </ul>
    </div>

    <div class="table-ul-2">
      <% @order_data.each do |order_datum| %>
        <ul>
          <li><%= order_datum.order_date %></li>
          <li><%= order_datum.client.name %></li>
          <li class="ntb1"><%= link_to 'Mostrar', order_datum %></li>
          <li class="ntb2"><%= link_to 'Editar', edit_order_datum_path(order_datum) %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
