<!DOCTYPE html>
<html>
  <head>
    <title>Perfumes Chavez Ruiz</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="header">
      <div class="global-logo">
        <%= link_to(image_tag("Logo2chico.png", id: "logo", :title => "Home"), "/") %>
      </div>
      <div class="menu">
        <%= link_to "Perfumes", perfumes_path %>
        <%= link_to "Pedidos de Clientes", order_data_path %>
        <%= link_to "Clientes", clients_path %>
        <%= link_to "Cuentas", bills_path %>
        <%= link_to "Cobros de hoy", schedules_today_path %>
        <%= link_to "Respaldos", backups_index_path %>
        <!--Changes the link between new and destroy sessions-->
        <% if user_signed_in? %>
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Iniciar sesión", new_user_session_path %>
        <%end%>
      </div>
      
    </section>

    <div class="contenedor">
      <%= yield %>
    </div>
  </body>
</html>
